.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  padding-top: 80px;
  padding-bottom: 80px;
}

.courses__subjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  width: 100%;
}

.courses__subject {
  list-style: none;

  padding: 30px 24px;

  display: flex;

  position: relative;

  background-color: var(--black);

  cursor: pointer;

  width: 100%;
}

.courses__subject::before {
  content: "";

  background-size: cover;

  position: absolute;
  inset: 0;

  filter: brightness(0.8);
  opacity: 0.5;
}

.subject--dsa::before {
  background-image: url(../images/subject-dsa.png);
}

.subject--cp::before {
  background-image: url(../images/subject-cp.jpg);
}

.subject--fwp::before {
  background-image: url(../images/subject-fwp.jpg);
}

.courses__subject-text {
  isolation: isolate;

  color: white;
  font-weight: bold;
  font-size: 24px;
}

.courses__others {
  background-color: white;

  text-decoration: underline;
  font-size: 24px;

  width: fit-content;
}
