.credits {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits .names {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.credits .names p {
    font-size: 16px;
}

.credits .line {
    background-color: black;
    width: 90%;
    height: 2px;
}

.credits .brand_cookies {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.credits .brand_cookies .brand {
    display: flex;
    align-items: center;
    gap: 14px;
}

.credits .brand_cookies .brand h2 {
    font-size: 25px;
}

.credits .brand_cookies .cookies {
    text-decoration: underline;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.credits .Allrights {
    width: 90%;
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
}