.facilites {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-400);
  height: 100vh;

  padding: 48px 120px;

  gap: 32px;
}

.facilites .facilities__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.facilites .facilities__title > p {
  text-align: justify;
  color: white;
  font-size: 22px;

  padding-bottom: 12px;
}

.facilites .facilities__title h2 {
  color: white;
  font-size: 32px;
}

.facilities__place {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  column-gap: 50px;

  height: 100%;
}

.place {
  background-color: #ebebeb;

  display: flex;
  flex-direction: column;
}

.facilities__place .place .text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 32px;
  height: 50%;
}

.facilities__place .place h2 {
  font-size: 28px;

  flex-basis: 56px;
}

.facilities__place .place p {
  font-size: 22px;
}

.facilities__place .place .pic {
  background-color: green;
  width: 100%;
  height: 50%;
}
