.faculties {
  height: 1900px;
}

.faculties .faculties__title {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.faculties .faculties__title h2 {
  font-size: 32px;
}

.faculties .faculties__title p {
  width: 900px;
  font-size: 22px;
}

.faculties .faculties__professor {
  width: 100%;
  height: 500px;
  padding: 0 60px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
}

.faculties .faculties__professor img {
  width: 490px;
  height: 490px;
}

.faculties .faculties__professor .text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.faculties .faculties__professor .text h2 {
  font-size: 32px;
}

.faculties .faculties__professor .text p {
  font-size: 22px;
  width: 650px;
}

.faculties .faculties__professor .text .intro {
  width: 740px;
  height: 120px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faculties .faculties__professor_2 {
  display: flex;
  width: 100%;
  height: 500px;
  padding: 0 60px;
  background-color: #0072bc;
}

.faculties .faculties__professor_2 img {
  width: 490px;
  height: 490px;
}

.faculties .faculties__professor_2 .text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.faculties .faculties__professor_2 .text h2 {
  font-size: 32px;
  color: white;
}

.faculties .faculties__professor_2 .text p {
  font-size: 22px;
  width: 650px;
  color: white;
}

.faculties .faculties__professor_2 .text .intro {
  width: 740px;
  height: 120px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
