:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --yellow-400: #fff200;
  --blue-400: #0072bc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.hero,
.courses {
  padding: 0 120px;
}

a,
button {
  cursor: pointer;
}
