header {
  display: flex;
  justify-content: space-between;

  padding: 24px 0;

  position: absolute;
  top: 0;
  left: 120px;
  right: 120px;
}

header > * {
  display: flex;
  align-items: center;
  gap: 12px;
}

header * {
  font-size: 22px;
}

.header__section--left {
}

.header__logo {
  max-width: 48px;
  max-height: 48px;
}

.header__section--right {
}

.header__link {
  padding: 8px 20px;
}
