.hero {
  height: 100vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero * {
  color: var(--white);
}

.hero > div {
  width: 50%;
}

.hero__section--left {
  display: flex;
  flex-direction: column;
}

.hero__display {
  font-size: 100px;
}

.hero__display--sti {
  color: var(--yellow-400);
}

.hero__container-slogan {
  background-color: rgba(255, 255, 255, 0.75);

  padding: 40px 48px;
}

.hero__container-slogan * {
  color: var(--black);
}

.hero__background-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  z-index: -1;

  object-fit: cover;

  height: 100%;
  width: 100%;

  filter: brightness(60%) saturate(140%);
}
