@media screen and (max-width: 768px) {
  .display-1 {
    font-size: calc(4rem + 4.5vw);
  }
}

.card {
  background-color: #ebebeb;
}

.vr {
  width: 2px;
  opacity: 0.6;
}

.footer-line {
  height: 2px;
  background-color: black;
}

.bg {
  background-color: #ffc107;

  transition: all 1s;
}

header {
  background-color: rgba(0, 0, 0, 0.3);
}
