/* Nav */
.navbar {
  padding-inline: 16px;
}

/* Hero */
.background-hero {
  height: 100vh;
  background-image: url(./images/sti-calamba.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding: 0 120px;
}

@media screen and (width >= 992px) {
  .navbar {
    padding: 0.5rem 120px;
  }
}
