/* Hero */
.background-hero {
  height: 100vh;
  background-image: url(./images/sti-calamba.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  .navbar {
    padding: var(--bs-navbar-padding-y);
  }
}
